<!doctype html>
<html>
<head>
	{% load static %}
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}" />
</head>
<body>
	<div class="dashboard-page">
	<div class="form">
    
	<table>
	<tr>
		<td><button>User Information</button></td>
		<td><button>Pradhan Mnatri Awas Yojana</button></td>
		<td><button>Water Resource Management</button></td>
	</tr>
	<tr>
		<td><button>Gas Supply</button></td>
		<td><button onclick="window.location.replace('/patientmeds');">Electricity Supply</button></td>
		<td><button onclick="window.location.replace('/login');">Log out</button></td>
	</tr>
	</table>

	</div>
	</div>
</body>
</html>